<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="FM.Transport.Properties.Settings.FM72_TestingConnectionString"
      connectionString="Data Source=IPL-SUPPORT\INNOSQLMASTER;Initial Catalog=FM72_Testing;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FM.Transport.Properties.Settings.FM72_TESTINGConnectionString1"
      connectionString="Data Source=ACER-47CBE8A5ED\SQLEXPRESS;Initial Catalog=FM72_TESTING;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FM.Transport.Properties.Settings.FM72_TRANSPORTConnectionString"
      connectionString="Data Source=TEMP-SRV\FREIGHTMASTER;Initial Catalog=FM72_TRANSPORT;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FM.TruckBook.Properties.Settings.LOCAL_PC" connectionString="Data Source=PC-5\SQLEXPRESS;Persist Security Info=True;User ID=ipl;Password=support"
      providerName="System.Data.SqlClient" />
    <add name="FM.TruckBook.Properties.Settings.FM80_SG_USSConnectionString"
      connectionString="Data Source=PC-5\SQLEXPRESS;Initial Catalog=FM80_SG_USS;Persist Security Info=True;User ID=ipl;Password=support"
      providerName="System.Data.SqlClient" />
    <add name="FM.TruckBook.Properties.Settings.FM80_SG_DemoConnectionString"
      connectionString="Data Source=SUPPORT-SRV\INNOSQLMASTER;Initial Catalog=FM80_SG_Demo;Persist Security Info=True;User ID=ipl;Password=support"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
