<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FM.TransportMarketingUI.Properties.Settings.FM72_TestingConnectionString" connectionString="Data Source=IPL-SUPPORT\INNOSQLMASTER;Initial Catalog=FM72_Testing;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="FM.TransportMarket.Properties.Settings.FM80_VIETNAM_HAN_LIVEConnectionString" connectionString="Data Source=IPL-PC12\LOCALDB;Initial Catalog=FM80_VIETNAM_HAN_LIVE;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
